<button
  class="blob-btn-accept"
  id="login-btn-container"
  (click)="basicModal.show()"
>
  Ajouter un article <i class="fas fa-plus"></i>
  <span class="blob-btn-accept__inner">
    <span class="blob-btn-accept__blobs">
      <span class="blob-btn-accept__blob"></span>
      <span class="blob-btn-accept__blob"></span>
      <span class="blob-btn-accept__blob"></span>
      <span class="blob-btn-accept__blob"></span>
      <span class="blob-btn-accept__blob"></span>
      <span class="blob-btn-accept__blob"></span>
    </span>
  </span>
</button>
<div
  mdbModal
  #basicModal="mdbModal"
  class="modal fade right"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md" role="document">
    <div
      class="modal-content"
      style="background-color: transparent; box-shadow: none; border: none;"
    >
      <div class="container">
        <mdb-card>
          <mdb-card-header
            style="background-color: #0A001A"
            class="text-center text-white"
          >
            <h5>
              <strong>Ajouter un article</strong>
            </h5>
          </mdb-card-header>
          
          <mdb-card-body class="px-lg-20 pt-1">
            <form
              class="text-center"
              style="color: #757575;"
              [formGroup]="articleForm"
              (ngSubmit)="onSubmit()"
            >
              <textarea
                required
                type="text"
                id="materialContactFormMessage"
                placeholder="article"
                class="form-control md-textarea mt-4"
                mdbInput
                rows="2"
                onblur="(this.rows='2')"
                onfocus="(this.rows='6')"
                formControlName="textArticle"
              ></textarea>

              <div class="row mb-2">
                <div class="col">
                  <div class="form-outline">
              <input
              placeholder="Nom du livre"
              class="form-control mt-4"
              type="text"
              formControlName="nomLivre"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
              <input
                placeholder="Date de sortie du livre"
                class="form-control mt-4"
                type="text"
                onfocus="(this.type='date')"
                onblur="(this.type='text')"
                formControlName="dateSortieLivre"
              />
            </div>
          </div>
        </div> 

              <input
              placeholder="Nom de l'auteur"
              class="form-control mt-4"
              type="text"
              formControlName="nomAuteur"
            />


            <input
            type="text"
            class="form-control mt-4"
            placeholder="image de l'auteur"
          onfocus="this.type='file'"
            formControlName="imageUrlAuteur"
            (change)="onFileSelect($event)"
          />

          <div class="imgClass"  *ngIf="imageData">
            <img [src]="imageData" [alt]="articleForm.value.nomAuteur" />
          </div>

          <select class="browser-default custom-select mb-4 mt-4" formControlName="typeArticle">
            <option selected > veuillez choisir le type de l'article</option>
            <option value="Politique">Politique</option>
            <option value="juridique">juridiques</option>
            <option value="économique">économique</option>
            <option value="Citation connu">Citation connu</option>
          </select>
          <button class="blob-btn mr-1 ml-1 mt-4" type="submit">
                Ajouter <i class="fas fa-plus"></i>
                <span class="blob-btn__inner">
                  <span class="blob-btn__blobs">
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                  </span>
                </span>
              </button>
              <button
                class="blob-btn-danger mr-1 ml-1 mt-4"
                id="login-btn-container"
                type="reset"
                (click)="basicModal.hide()"
              >
                Annuler <i class="fa fa-times" aria-hidden="true"></i>
                <span class="blob-btn-danger__inner">
                  <span class="blob-btn-danger__blobs">
                    <span class="blob-btn-danger__blob"></span>
                    <span class="blob-btn-danger__blob"></span>
                    <span class="blob-btn-danger__blob"></span>
                    <span class="blob-btn-danger__blob"></span>
                    <span class="blob-btn-danger__blob"></span>
                    <span class="blob-btn-danger__blob"></span>
                  </span>
                </span>
              </button>
            </form>
            <!-- Form -->
          </mdb-card-body>
        </mdb-card>
        <!-- Material form register -->
      </div>
    </div>
  </div>
</div>
