
<div class="wrapper">
 
    <div class="main_content">
   
      <div class="logo"><img src="./../../../../assets/images/logo.jpg.jpg" width=110 height=110></div>
      <div class="title">Le Politique</div>
      <app-add-article></app-add-article>
      <div class="header">Votre <span style="font-weight:bold">dose d'intellect</span> chaque jour</div>
      <textarea cols="80" rows="50" class="txt">   Bien que cette légende urbaine ne soit pas véridique, elle a inspiré Frédéric Bouquet et ses collègues du Laboratoire de Physique des Solides d'Orsay, pour un article intitulé 61 façons de mesurer la hauteur d'un immeuble avec un smartphone, et paru sur le serveur de pré-publication arXiv. Le professeur, de l'université de Paris-Saclay, a demandé à ses étudiants de plancher sur toutes les méthodes possibles pour répondre à cette question, d'évaluer la précision des mesures ainsi que l'écart entre le calcul théorique et la mesure réelle. Les étudiants devaient uniquement utiliser des objets du quotidien et un smartphone muni des capteurs internes (accéléromètre, gyroscope, caméra, magnétomètre, GPS, micro, etc.).
  
  Les premières solutions envisagées consistent à faire chuter le téléphone depuis le haut de l'immeuble. En négligeant la friction de l'air, on peut en déduire que la hauteur est égale à 1/2 gt2. Le temps de chute peut être estimé par différents moyens, par exemple en utilisant un enregistrement audio. « Dans ce cas, une méthode simple pour produire un son au début de la chute consiste à attacher le smartphone à un ballon et à l'éclater », écrivent les auteurs. Ces méthodes donnent une hauteur plutôt fiable, à 0,3 ou 1 mètre près.
  La forme exceptionnelle de cette 30ème édition du Gala de l’ADRIQ n’a pas empêché son très grand succès avec pas moins de 600 inscrits.  Ce sont 17 Prix qui ont été attribués soulignant le caractère innovant des entreprises et organisations québécoises.
  
  L’événement était précédé du « Salon Incub-Innovation » dans lequel une vingtaine d’entreprises incubées et de startups ont pu présenter leurs projets et interagir directement avec le public, présent au sein de kiosques virtuels. « C’est une façon pour nous de donner une visibilité à des petites entreprises qui commencent », souligne Pascal Monette, Président-directeur général de l’ADRIQ.
  
  La remise virtuelle des prix a été orchestrée par Carl Baillargeon, Directeur des communications et des événements ADRIQ-RCTi et Yves Desgagnés, acteur, metteur en scène et réalisateur québécois.Parmi les trois entreprises finalistes pour le Prix Spécial en Intelligence Artificielle (Brainbox AI, Qohash, Quantolio), la lauréate est BrainBox AI . Cette entreprise offre la première technologie d’intelligence artificielle autonome au monde pour systèmes CVC commerciaux. Elle permet de produire des économies d’énergie importantes en tirant parti de l’IA pour effectuer continuellement des micro-ajustements sur le système CVC existant d’un bâtiment.
  
  Concernant les 8 catégories de Prix Innovation, les lauréats sont les suivants :
  
  Innovation | Grande entreprise: Hewlett Packard Enterprise
  
  Innovation | Transformation numérique 4.0 : QSL
  
  Innovation |Sciences de la vie : Imagia
  
  Innovation | Sciences de la vie – Mention spéciale : Dr Michele d’Elia – Roche Diagnostics
  
  Partenariat : Sig.num Pre-emptive Healthcare en partenariat avec École de technologie supérieure et Université Concordia
  
  Produits forestiers Résolu en partenariat avec FPInnovations et Performance BioFilaments
  
  Partenariat – Coup de cœur du public : UEAT Technologies en partenariat avec Centre de Recherche Informatique de Montréal
  
  Relève Technoscience: Prompt –Camp Découverte Techno
  
  Relève Technoscience – Coup de cœur : Centre de recherche en infectiologie du CHU de Québec
  
  Innovation | Regroupements sectoriels de recherche industrielle (RSRI): Consortium québécois sur la découverte du médicament en partenariat avec Medicago, Université McGill, Université Laval et Merck
  
  Innovation | Regroupements sectoriels de recherche industrielle (RSRI)– Coup de cœur : Consortium de recherche et d’innovation en transformation métallique en partenariat avec INRS, Sigma DevTech et ECO2 Magnesia
  
  Innovation | PME : PetaIMD et LensVector
  
  Innovation | Jeune entreprise : Animora
  
  Le Prix Entreprise en démarrage a été décerné à Off The Grid, vélo de spinning générant de l’électricité.</textarea>
  
      <div class="flech"><a href="#"><i class="fas fa-arrow-circle-right"></i></a>Arabe</div>
      <div class="flech1"><a href="#"><i class="fas fa-arrow-circle-left"></i></a>English</div>
      <div class="ecrivain"><img src="./../../../../assets/images/victor.jpg" width=320 height=370></div>
    </div>
   
  </div>
  