* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  body {
    background-color: #f3f5f9;
  }
  
   .sidebar {
    width: 200px;
    height: 100%;
    background: #0A001A;
    padding: 30px 0px;
    position: fixed;
  }
  
   .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }
  
   .sidebar ul li a {
    color: #bdb8d7;
    display: block;
  }
  
   .sidebar .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
   .sidebar .social_media a {
    display: block;
    width: 40px;
    background: #0A001A;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
   .main_content {
    width: 100%;
    margin-left: 200px;
    box-shadow: #2196f3;
  }
  
   .main_content .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
  }
  
   .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }
  
   .main_content .info div {
    margin-bottom: 20px;
  }
  
  .title {
    padding: 20px;
    background: #fff;
    color: #260000;
    border-bottom: 1px solid #e0e4e8;
    font-size: 65px;
    font-family: 'Josefin Sans';
    text-align: center;
    
  }
  
   .main_content .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
    font-size: 25px;
    font-family: 'Josefin Sans';
    margin-left: 30%;
    border-bottom: 1px solid #e0e4e8;
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    color: #2196f3;
    font-family: Source Sans Pro;
    font-weight: lighter;
    display: inline-block;
  }
  
  .cool-link:after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #fff;
    transition: width .3s;
  }
  
  .cool-link:hover::after {
    width: 100%;
    transition: width .3s;
  }
  
  .logo {
    position: absolute;
    top: 10px;
    left: 210px;
  }
  
  .txt {
    
    margin-left: 10%;
    border : 2px solid transparent;
    border-color : black;
   
    margin-right: 20%;
 
  }
  
  .flech {
    position: absolute;
    left: 1100px;
    top: 980px;
  }
  
  .flech1 {
    position: absolute;
    left: 590px;
    top: 980px;
  }
  
  .ecrivain {
    position: absolute;
    left: 240px;
    top: 250px;
  }
  