
<div class="wrapper" >

    <div class="sidebar">
  
      <ul>
        <li><a href="#" class="cool-link"><i class="fab fa-accusoft"></i>Catégories</a></li>
        <li><a [routerLink]="['/acceuil']" class="cool-link"><i class="fas fa-user"></i>Accueil</a></li>
        <li><a href="#" class="cool-link"><i class="fas fa-newspaper"></i>Articles récents</a></li>
        <li><a [routerLink]="['/articles-politiques']" class="cool-link"><i class="far fa-newspaper"></i>Articles Politiques</a></li>
        <li><a [routerLink]="['/articles-juridiques']" class="cool-link"><i class="fas fa-blog"></i>Articles juridiques</a></li>
        <li><a [routerLink]="['/articles-economiques']" class="cool-link"><i class="fas fa-address-book"></i>Articles économiques</a></li>
        <li><a href="#" class="cool-link"><i class="fas fa-user-shield"></i>Citations connus</a></li>
        <li><a href="#" class="cool-link"><i class="fas fa-globe"></i>Critiques de livres</a></li>
        <li><a [routerLink]="['/contact-nous']" class="cool-link"><i class="fas fa-map-pin"></i>Contactez-nous</a></li>
      </ul>
      <div class="social_media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"> <i class="fab fa-youtube"></i></a>
      </div>
  
    </div>
  </div>

  